@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
/* font-family: 'Lora', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   


}




#landing {

        height: 80vh;
    
   
     display: flex;
    
     flex-direction: column;
    
    
     align-items: center;
    
    
     justify-content: center;
    }

    #profpic{
        height: 150px;
        width: 150px;
        border-radius: 100%;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        
    }




#projects-2{
    background: #224952;
    font-family: 'Lora', serif;
   
}
 
.pic{

    height: auto;
    width: 400px;
   
    /* width:100%;
    height:550px; */
    object-fit:cover;
    object-position:50% 50%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10%;
}
.par{
    max-width: 400px;
    
    font-size: 18px;
    aspect-ratio:16/9 ;

}
.title-project2{
    font-family: 'Lora', serif;
    font-weight: bold;
    

}

.pic-2{

    height: 150px;
    width: 250px;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10%;
    /* width:100%;
    height:550px; */
    object-fit:cover;
    object-position:50% 50%;
    aspect-ratio:16/9 ;
}

.other-projects{
    text-shadow: 4px 1px #111012;

   
}
#otherproj{ background: #224952;
}

/* coretools */

#ct{
    height: 50vh;
    width: 100vw;
  
    
}
#core{
    height: auto;
    width: 400px;
   
    /* width:100%;
    height:550px; */
    object-fit:cover;
    object-position:50% 50%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10%;
}


/* othertools */

#ot{
    height: 100vh;
    width: 100vw;
   

}

.otpic{
    max-height: 100px;
    max-width: 100px;
}
.otpic-1{
    max-height: 100px;
    max-width: 150px;
}